<h1>Editing Article</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
      <%= render 'form' %>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8">
    </div>
  </div>
</div>
<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Delete this article?' } %> |
<%= link_to 'Category', category_path(@article.category) %> |
<%= link_to 'Home', articles_path %>
