<% feed_articles.each do |article| %>
<p class="category_link"><%= link_to article.category.title, category_path(article.category) %></p>
  <%= render 'layouts/article_view', object: article %>
<% end %>
<%= link_to 'Reload', articles_path, class: 'btn btn-default' %>
