<p id="notice"><%= notice %></p>

<% current_user.articles.each do |article| %>
  <div id="article" class="jumbotron">
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p>
    <%= article.content %>
    </p>
    <small>< <%= article.category.title %> ></small>
  </div>
<% end %>
