@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    @include box_sizing;
}

header {
  padding-top: 10px;
  margin-bottom: 80px;
  a {
    font-size: 1.1em;
  }
}

footer {
  margin: 50px 0px 5px;
  #email {
    font-size: 1.2em;
  }

}

#collapse .input-group {
  margin: 10px;
  width: 250px;
}

aside {
  float: left;
  a {
    border: 1px solid #dadada;
    &:hover {
      background-color: inherit !important;
    }
  }
}

section {
  margin-bottom: 20px;
}

.field_with_errors {
  @extend .has-error
}

.alert {
  margin: 20px 0 !important;
}

#locale {
  width: 200px;
  input[type="submit"] {
    display: none;
  }
}
