@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#profile {
  margin-right: 10px;
  float: right;
}

#article {
  background-color:#fff;
  border: 1px solid black;
  border-left: 5px solid green;
  border-radius: 0 6px 6px 0;
  padding:3%;
  margin-bottom:30px;
  p {
    font-size: 1.1em;
  }
}

section {
  margin: 40px 0 60px;
}

input, textarea, select {
    border: 1px solid #bbb;
#   width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

header, footer {
  padding-top: 10px;
  #profile_button {
    float: right;
  }
  a {
    font-size: 1.1em;
  }
}
/* in form */
.article_content {
  width: 100%;
  min-height: 300px;
}

#category_link {
  background-color: #fff;
  float: right;
  margin: -9px 10px 0 0;
  padding: 0 5px 5px 5px;
}

#little_article {
  padding: 10px 30px;
  border: 1px solid green;
  border-radius: 3px;
  margin-top: 20px;
}
