@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select {
    border: 1px solid #bbb;
#   width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

header {
  padding-top: 10px;
  margin-bottom: 40px;
  #profile_button {
    float: right;
  }
  a {
    font-size: 1.1em;
  }
}

.field_with_errors {
  display: block !important;
  background-color: inherit !important;
  @extend .has-error
}

#error_explanation {
  border-radius: 5px;
  ul {
    margin-top: 5px;
  }
}
