<%= form_tag categories_path do %>
  <div class="field">
    <%= label_tag :title, "Category" %><br>
    <%= text_field_tag :title %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
