<p id="notice"><%= notice %></p>

<h3>
  <%= link_to "#{@category.title} (#{pluralize(@articles.count, 'article')})", edit_category_path(@category) %>
</h3><br>

<% @articles.each do |article| %>
  <%= render 'layouts/article_view', object: article %>
<% end %>
