<h3>
  <%= link_to "#{@category.title} (#{pluralize(@articles.count, t('.article'))})", edit_category_path(@category) %>
  <%= link_to t('.add_new_article'), new_article_path, id: 'new-article' %>
</h3><br>

<% @articles.each do |article| %>
  <%= render 'layouts/article_view', object: article %>
<% end %>
