<article class="article">
  <h3><%= link_to object.title, edit_article_path(object) %></h3><br>
  <pre>
  <% object.content.split("\n").each do |line| %>
    <%= line.chomp %> 
  <% end %>
  </pre>
</article>
