<footer class="navbar navbar-fixed-bottom">
  <div class="input-group container">
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Find</button>
    </span>
  </div>
</footer>
