<header class="navbar navbar-default" style="padding-top: 10px">
  <ul class="nav nav-pills">
    <li><%= link_to "Akkwiki", root_path, class: "navbar-brand" %></li>
    <li><%= link_to "Add article", new_article_path, class: "btn btn-default" %></li>
    <li class="dropdown" role="presentation">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Ruby</a></li>
	<li><a href="#">Vim</a></li>
	<li><a href="#">Rails</a></li>
	<li><a href="#">HTML</a></li>
      </ul>
    </li>
  </ul>
</header>
