<div class="collapse navbar-collapse" id="collapsed-collections">
  <div class="container">
    <ul style="list-style: none">
      <li><p>first me</p></li>  
      <li><p>second me</p></li>  
      <li><p>third me</p></li>  
      <li><p>fourth me</p></li>  
    </ul>
  </div>
</div>
